.main-content {
  background: 
    radial-gradient(circle, transparent 40%, var(--color-v) 75%),
    linear-gradient(to right, var(--color), var(--color)),
    var(--image);
  background-position: center center;
  background-size: cover;
  background-blend-mode: 
    var(--blend-top, normal),
    var(--blend-bottom, saturation),
    normal;
  
  --image: url(../images/glass-of-red-wine-bg-5169x3648.jpg);
  --image2: url(../images/person-trying-to-get-a-bottle-of-wine-5022x3456.jpg);
  
  --color-v: black;
  --color: transparent; //hsla(343,100%,50%,.5);
  
  flex: 1;
  width: 100vw;
}





body {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: black;
}
*, *::before, *::after {
  box-sizing: border-box;
}